# Sample files
*.dat
!*_reference_sample.dat
*.csv
*.npy

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
executables/
*.exe
*.out
*.app

# Python temp files:
*.pyc
*__pycache__

# Image files:
*.ps
*.eps
*.pdf
*.png

# Mac compilation file:
*.DS_Store

# Pycharm IDE files:
.idea/

# venv directory for pip-environment management
venv/

# Visual Studio Code files
.vscode/